<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        @import url(/stle.css);
    </style>
</head>
<body>
    <%- include("navbar") %>
    <section>
        <div class="conatiner">
            <form action="/login" method="post">
                <input type="text" name="email" placeholder="Enter a email">
                <input type="password" name="password" placeholder="password">
            <button type="submit">submit</button>
            </form>
        </div>
    </section>
    
</body>
</html>